/*.footer_linklists {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

.footer {
    background-color: #000000D9;
    /* padding: 20px 0; */
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    padding-top: 34px;
    padding-bottom: 54px
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer p, .footer a {
    color: inherit;
    text-decoration: none;
}
.footer_linklists {
    padding: 0;
    margin: 0;
}
.footer p {
    color: #ffffff;
}
.footer_title {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
}
h3 {
    font-size: 18px;
}

ol, ul {
    padding-left: 15px;
    list-style: none;

}

.footer_linklists li {
    margin-bottom: 8px;
    font-size: 12px;
}



.footer_linklists li a {
    color: #ffffff;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color: #191919;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/*.row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/